<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<h4>Pokemons</h4>
<p><b><%= pokemon.name %></b>, 
    level <b><%= pokemon.level %></b>,
    health <b><%= pokemon.health %>/100</b>
</p>