<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<%= button_to 'Create a new Pokemon!', new_pokemon_path, :class => "button medium", :method => :get if @trainer.id == current_trainer.id %>

<h4>Pokemons</h4>
<% @trainer.pokemons.each do |pokemon| %>
    <% if pokemon.health > 10 %>
        <p>
            <b><%= pokemon.name %><br></b>
            Level: <%= pokemon.level %><br>
            Health: <%= pokemon.health %>/100<br>
            <%= button_to "Damage", damage_path(id:pokemon.id), :class => "button medium", :method => :patch %>
        </p>
    <% elsif @trainer.id == current_trainer.id %>
        <p>
            <b><%= pokemon.name %><br></b>
            Level: <%= pokemon.level %><br>
            Health: <%= pokemon.health %>/100<br>
            <%= button_to "Damage", damage_path(id:pokemon.id), :class => "button medium", :method => :patch %>
        </p>
    <% end %>
    
    <%= button_to "Heal!", heal_path(id: pokemon.id), :class => "button medium", :method => :patch if @trainer.id == current_trainer.id %>
<%end%>